div.typoSuggest {		
	position:relative;
	width:150px;
	margin:5px 0px 0px 2px;
}

div.typoSuggest input.search {
	background-image:url(magnifying-glass.gif);
	background-repeat:no-repeat;
	background-position:-2px 0px;
	border-style:inset;
	padding:3px 0px 0px 20px;
	margin:0px;
	width:80%;
	height:16px!important;
	color:#212424;
}

div.typoSuggest input.loading {
	background-image:url(loading.gif);
	background-position:1px 1px;
}

* html div.typoSuggest input.search {height:13px;}


dl.results {
	width:220px;
	position:absolute;
	top:18px;
	left:0px;
	overflow:hidden;
	border:1px solid #ccc;
	background-color:#fff;
	color:#212424;
	margin:0;
	padding:0;
	display:none;
	list-style:none!important;
	z-index:10000;
}

* html dl.results {left:2px;}

dl.results dt {
	display:block;
	margin:0;
	padding:0;
	font-weight:bold;
	border-top:1px solid #CCC;
	margin-top:0.2em;
	padding-top:0.2em;
	padding-bottom:0.2em;
}

dl.results dt a img {
	padding-right:3px;
	vertical-align:text-bottom;
}

dl.results dt a {
	cursor:default;
	display:block;
	padding:1px 3px;
	white-space:nowrap;
	color:#666;
}

dl.results dt a strong {
	color:#060;
}

dl.results dt a:hover {
	color:#fff;
	background-color:#889988;
}

dl.results dt a:focus, dl.results dt.focus a { 
	color:#fff;
	background-color:#889988;
}

dl.results dt.forbidden, dl.results dt.allowed {
	color:#600;
}

dl.results dd  {
	color:#666;
	padding-left:1em;
	margin-left:0;
	padding-bottom:0.2em;
}

dl.results dd strong {
	color:#060;
	font-weight:normal;
}

